body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ------------NAVBAR----------- */
header {
  position: fixed;
  top: 0;
  right: 0;
}

.home-icon {
  height: 20px;
  color: white;
  margin: 20px 0px;
}

.info-icon {
  height: 20px;
  color: white;
  margin: 20px 20px;
}

/* ------------HOME----------- */
.input-container {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.input-box {
  color: #333;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: none;
}

.main-button {
  height: 54px;
  width: 54px;
  font-size: 20px;
  margin-left: 12px;
  border: none;
  border-radius: 10px;
}

.downloads-txt {
  color: white;
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------ABOUT----------- */
.about-page-container {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.about-link {
  color: black;
}
.about-link:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: text-gradient 15s ease infinite;
}
@keyframes text-gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
/* ------------FOOTER----------- */
.footer-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(31, 31, 31);
  position: fixed;
  width: 100%;
  bottom: 0;
  grid-column: "contact";
}

.footer-txt {
  max-width: 455px;
  margin: 15px 0px;
  color: white;
}

/*icons*/
.footer-links {
  margin: 15px 0px;
}

.linkedin-icon {
  height: 40px;
  color: white;
  margin: 0px 10px;
}
.linkedin-icon:hover {
  color: rgb(22, 112, 202);
}

.github-icon {
  height: 40px;
  color: white;
  margin: 0px 10px;
}
.github-icon:hover {
  color: rgb(155, 31, 31);
}

.envelope-icon {
  height: 40px;
  color: white;
  margin: 0px 10px;
}
.envelope-icon:hover {
  color: rgb(10, 164, 59);
}

@media (max-width: 655px) {
  .footer-container {
    justify-content: center;
    align-items: center;
    padding: 7px 0;
  }

  .footer-txt {
    margin: 0 15px 0 30px;
    font-size: 12.5px;
    max-width: 350px;
  }

  .footer-links {
    margin: 0 30px 0 15px;
  }

  .linkedin-icon {
    height: 30px;
    margin: 0 5px;
  }
  .github-icon {
    height: 30px;
    margin: 0 5px;
  }
  .envelope-icon {
    height: 30px;
    margin: 0 5px;
  }
}

@media (max-width: 555px) {
  .footer-txt {
    margin: 0 15px 0 30px;
    font-size: 12.5px;
    max-width: 233.5px;
  }
}
